*, *::before, *::after {
    box-sizing: border-box;
}

body {
    background-color: #353b48;
    color: #f5f6fa;
    margin: 0;
    text-align: center;
    line-height: 1.7;
    font-size: 24px;
    

}
h1 {
    font-size: 100px;
    line-height: 0.1;
}

h2 {
    color: #7f8fa6;
    font-size: 50px;
    line-height: 0.1;
    padding-bottom: 20px;
}

ul {
    list-style: none;

}
